version: '3.8'

services:
  app:
    build: .
    container_name: cveti_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./.cursor:/app/.cursor # Для логов, если нужно
